/*footer 
  {
  text-align: center;
  background-color: rgb(75, 75, 75);
  color: #cecece;
  }*/
.box
  {
  margin: 100px auto;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  }
p
  {
		float: left;
    color: #cecece; 
	}
img
  {
	  border-radius: 10px; 
		border:solid #ffffff 1px; 
		color: #ffffff; 
		background-color: #ffffff;
	}
/*---------------elemento sfumatura footer---------------*/
.elemento 
    {    
    color: #191919;
    display:block;
    font-family: Georgia;    
    background: linear-gradient(to top,rgb(53, 53, 53) 0%,  #343d46 100%);
    font-size: 12px;
    }
.elemento2 
    {    
    color: #191919;
    display:block;
    font-family: Georgia;    
    background: linear-gradient(to top, rgb(75, 75, 75) 0%, rgb(53, 53, 53) 100% );
    font-size: 12px;
    }
/*---------------social---------------*/
#social-bar {
  margin-top: 130px;
  margin-left: 550px;
  height:-webkit-fit-content;
  height:-moz-fit-content;
  height:fit-content;
}
#social-bar a {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  padding:15px;

  font-size: 20px;
  text-decoration:none;
  color: white;
}
#social-bar a:hover {
  opacity:0.8;
}
.reddit {
  float: left;
  background: #bb0000;
  border-radius: 25px;
}
.twitter {
  float: left;
  background: #55ACEE;
  border-radius: 25px;
}
.instagram {
  float: left;
  background: #dd2a7b;
  border-radius: 25px;
}
.youtube {
  float: left;
  background: #bb0000;
  border-radius: 25px;
}
/*---------------scrollbar---------------*/
::-webkit-scrollbar
    {
    width:0.8em;
    height:0.8em;
    background: #353535;
    margin-right: 10px;
    }
::-webkit-resizer
    {
    background-color:#505050;
    border: none;
    }
::-webkit-scrollbar-thumb
    {
    min-height:0.8em;
    min-width:0.8em;
    -webkit-border-radius:3px;
    background-color: #929292;
    border: none;
    }
::-webkit-scrollbar-thumb:hover
    {
    background-color: #bbbbbb;
    border: none;
    }
::-webkit-scrollbar-thumb:active
    {
    background-color:#cccccc;
    border: none;
    }
/*---------------search bar---------------*/
#ricerca {
  /* Modifica delle dimensioni */
  width: 350px;
  height: 40px;
  /* Personalizzazione dello sfondo */
  transition: 0.7s;
  background-color: #313131;
  border: 3px solid #424242;
  border-radius: 30px;
  box-shadow:5px 5px 5px #8383839f;
  /* Modifica del testo */
  font-size: 16px;
  color: #adadad;
  padding-left:35%;
}

#ricerca::placeholder {
  /* Cambia il colore del testo nel placeholder */
  color: #adadad;
}

#ricerca:focus::placeholder{
  /* Cambia il colore del testo nel placeholder */
  color: #313131;
}

/* Modifica dello stile del cursore quando si passa sopra la barra di ricerca */
#ricerca:hover {
  cursor: pointer;
}

/* Modifica dello stile del bordo quando la barra di ricerca è in focus */
#ricerca:focus {
  transition: 0.7s;
  padding-left:15px;
  outline: none;
  background-color: #cacaca;
  border: 3px solid #a7a7a7;
  box-shadow:5px 5px 5px #313131;
  color: #313131;
}

/*#risultati{
  width: 350px;
  height: 40px;
  transition: 1s;
  border:5px solid #bb000000;

  }
#risultati:focus {
  width: 350px;
  height: 40px;
  transition: 1s;
  border:5px solid #bb0000;
  }*/

